.single-pic {
    width: 90vw;
    height: auto;
}

#singleViewBg {
    background-color: rgb(229, 233, 242);
    width: 100.9%;
}

#singleViewImg {
    border-style: solid;
    padding: 0!important;
    
}

#singleViewMap {
    border-style: solid;
    margin-top: 20px;
}

svg {
    font-size: 48px;
}

svg:hover {
    font: pink
}

.save-pic {
    font-size: 24px
}