/* #background {
    background-image: url(https://res.cloudinary.com/dwuqez3pg/image/upload/c_scale,w_1000/v1665696442/View-from-here/1ddfeb86305588512f79432b4a107ec5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100.9%;
    padding-top: 6vh;
}

#formbg {
    opacity: 90%;
}

#signupFormImg{
    border-style: solid;
    border-radius: 7px;
}

@media only screen and (max-width: 992px) {
  #signupFormImg {
    display: none;
  }
} */
