.info-div {
    width: 45vw;
}

.marker-thumb {
    width: 100%;
    height: auto;
}

.info-div img {
    width: 100%;
}

.info-div img:hover {
    border: solid;
    border-width: 3px;
    border-color: black;
}

@media (min-width: 576px) {
    .info-div {
        max-width: 25vw;
    }
}

@media (min-width: 992px) {
    .info-div {
        max-width: 12vw;
    }
}