.info-div {
    width: 45vw;
    margin: 0px;
}

.marker-thumb {
    width: 100%;
    height: auto;
}

.info-div img {
    border-radius: 10px;
    width: 100%;
    border: solid;
    border-width: 2px;
    border-color: white;
    transition: all 0.3s ease-in-out;  
}

.info-div img:hover {
    border-color: black;  
}

@media (min-width: 576px) {
    .info-div {
        max-width: 25vw;
    }
}

@media (min-width: 992px) {
    .info-div {
        max-width: 12vw;
    }
}