/* #background {
    background-image: url(https://res.cloudinary.com/dwuqez3pg/image/upload/c_scale,w_1000/v1665696442/View-from-here/1ddfeb86305588512f79432b4a107ec5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100.9%;
    padding-top: 10vh;
}

#formbg {
    opacity: 90%;
}

.card-group {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;

}

#cardimage{
    border-radius: 5%;
    height: 100px;
    width: 130px;
    
} */

/* #submit {
    border-radius: 25px;
    background-color: goldenrod;
    border-color: green
}

#submit:hover {
    background-color: limegreen;
    border-color: goldenrod

} */
