#header {
    background-image: url(../../public/assets/clouds.jpg) ;
    background-position: center;
}

#title {
    border-style: solid;
    background-color: black;
    box-sizing: border-box;
    padding: 10px;
    
}

.nav-link{
    color: black;
    margin-top: 20px;
    margin-left: 12px;
}

#cloud {
    background-image: url(../../public/assets/cloudicon.png);
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 100px;
    min-height: 80px;
}

