#header {
    background-image: url(../../public/assets/clouds.jpg) ;
    background-position: center;
    border-bottom: solid;
    border-color: black;
    width: 100.9%;
}

#title {
    color: #FFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-style: italic;
    opacity: 90%;
    text-shadow: 3px 3px 3px black;
    
}

.nav-link li {
    color: black;
    margin-top: 20px;
    margin-left: 12px;
}

.nav-link li:hover {
    color: blue;
    text-shadow: 2px 2px 10px black;
}


#cloud {
    background-image: url(../../public/assets/cloudicon.png);
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 100px;
    min-height: 80px;
}



