.info-div {
    max-width: 12vw;
}

.marker-thumb {
    width: 100%;
    height: auto;
}

.info-div img {
    width: 100%;
}

.info-div img:hover {
    border: solid;
    border-width: 3px;
    border-color: black;
}